.graph-container {
  transition: width ease-in-out 300ms;

  &.graph-expanded {
    width: 100%;
    max-width: 100%;
  }

  /* Hide all .graph-container elements if any has .graph-expanded */
  &:has(~ .graph-expanded),
  &:has(+ .graph-expanded),
  &.graph-expanded ~ & {
    display: none;
  }

  &.graph-expanded #expandGraphLabel {
    display: none;
  }
  &:not(.graph-expanded) #collapseGraphLabel {
    display: none;
  }
}
